.background-contact {
	background-image: url("../public/img/banner-index.svg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
  	overflow: hidden;
}